<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title</title>
  <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
  <link href="../../Content/themes/redmond/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="page">
    <div id="header">
      <div id="title">
        My MVC Application
      </div>
      <div id="logindisplay">
        Welcome <strong>@User.Identity.Name</strong>!
      </div>
      <div id="menucontainer">
        <ul id="menu">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li>@Html.ActionLink("Data", "Data", "Home")</li>
          <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
      </div>
    </div>
    <div id="main">
      @RenderBody()
    </div>
  </div>
</body>
</html>
